<% provide :title, t("title.help") %>
<h1><%= t "title.help"%></h1>
<p>
  <%= t ".help"%> <a href="http://www.railstutorial.org/help"><%= t ".rails"%></a>.
  <%= t ".get"%> <a href="http://www.railstutorial.org/book"><em><%= t ".ruby"%></em>
  <%= t ".book"%></a>.
</p>
