<footer class="footer">
  <small>
    <%= t "the" %> <a href="http://www.railstutorial.org/"><%= t "tut" %></a>
    <%= t "by" %> <a href="http://www.michaelhartl.com/"><%= t "author" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("title_about"), about_path %></li>
      <li><%= link_to t("title_contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"> <%= t "title_new" %> </a></li>
    </ul>
  </nav>
</footer>
