<footer class="footer">
  <small>
    <%= t "title.the" %> <a href="http://www.railstutorial.org/"><%= t "title.tut" %></a>
    <%= t "title.by" %> <a href="http://www.michaelhartl.com/"><%= t "title.author" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("title.about"), about_path %></li>
      <li><%= link_to t("title.contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"> <%= t "title.new" %> </a></li>
    </ul>
  </nav>
</footer>
